## SQLite com Python no VSCode  üêç

<img src='SQLitePython.png' width='500rem'>

Extens√£o utilizada no VSCODE para visualiza√ß√£o das tabelas no BD:
- SQLite (https://marketplace.visualstudio.com/items?itemName=alexcvzz.vscode-sqlite)

üìç Primeiramente, importe ambas bibliotecas que ser√£o usadas:

In [3]:
import pandas as pd 
import sqlite3 as sql # DOC: https://docs.python.org/3/library/sqlite3.html

üìç Com isso, precisamos criar um novo banco de dados e abrir uma conex√£o.

In [22]:
# connectDB = sql.connect("new.BD")

<img src='img/ex3.png' width='300rem'>

üìç Cada mudan√ßa ou altera√ß√£o no DB precisa ser commitado, assim utilize sempre:

In [5]:
# connectDB.commit()

üìç Se caso tiver um DataFrame que queira tranformar em uma tabela no DB, use:

In [8]:
# DataFrame.to_sql('nome_tabela_DB', con=connectDB)

üìç Para come√ßar a conversar em linguagem SQL, precisamos de um cursor que permita isso:

In [9]:
# sqlComands = connectDB.cursor()

üìç Para voc√™ mesmo criar uma tabela no DB, use:
> ‚ùó Aten√ß√£o: aqui est√° uma lista com os tipos de dados: bit.ly/3PwHWw3

In [15]:
# sqlComands.execute("CREATE TABLE nome_table ([coluna1] INTEGER PRIMARY KEY, [coluna2] TEXT, [coluna3] INTEGER)")

<img src='img/ex2.png' width='200rem'>

üìç Agora, aprenda a inserir dados nessa tabela, ent√£o use:

In [16]:
# sqlComands.execute("INSERT INTO products (coluna1, coluna2, coluna3) VALUES (1, 'Mouse', 59.99), (2, 'Teclado', 49.99), (3, 'Monitor', 99.99)")

<img src='img/ex1.png' width='200rem'>

üìç Para selecionar colunas nessa tabela, use:

In [17]:
# df1 = pd.read_sql("SELECT * FROM products", connectDB)

üìç Agora, se deseja fazer uma sele√ß√£o filtrada, ent√£o utilize:

In [23]:
# df1 = pd.read_sql("SELECT * FROM products WHERE price > 100", connectDB)

<img src='img/ex5.png' width='200rem'>

üìç Na filtra√ß√£o, tamb√©m podemos usar uma composi√ß√£o, veja abaixo:

In [24]:
# df1 = pd.read_sql("SELECT * FROM products WHERE price > 100 AND price < 160", connectDB)

<img src='img/ex4.png' width='200rem'>

üìç Caso queira ATUALIZAR o valor de uma c√©lula na tabela, use:

In [26]:
# new_value = 29.99
# sqlComands.execute(f"UPDATE products SET price={new_value} WHERE product_id=1")

# sqlComands.execute(f"UPDATE products SET price={new_value}, product_name="new_name" WHERE product_id=1")

üìç Caso queira DELETAR linhas de uma tabela, use:

In [27]:
# sqlComands.execute("DELETE FROM products WHERE product_id=6")

<img src='img/ex6.png' width='300rem'>